@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

* {
	font-family: 'ONE-Mobile-POP';
}

.main_section{
	word-break:break-all;
}
body {
	list-style: none;
    background-color: #0a174e;
}
.hour1{
	color:#f5d042;
	text-align: center;
	
	font-size: 300%;
}
