@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'ONE-Mobile-POP';
}
body {
    background-color: #0a174e;
}

.home {
	font-size: 50px;
	color: blue;
	background-color: white;
	cursor: pointer;
	border: none;
	vertical-align: middle;
}

/* .pikok{
	font-family: 'Ubuntu', sans-serif;
} */

.suve1 {
	display: flex;
	flex-direction: row;
	/* justify-content: center;
	align-items: center; */
	flex-wrap:wrap;
}

/* .suve2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap
} */


/* .main-button{
	padding-top: 10%;
} */
/*.main-button{
	width: 350px;
	height: 175px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -75px 0 0 -175px;
}*/

.button {
	background-color: white;
	border: 2px solid black;
	color: black;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: auto;
	cursor: pointer;
	width: 150px;
	height: 150px;
	border-radius: 15px;
	transition-duration: 0.4s;
	text-align: center;
	float: left;
	vertical-align: middle;
	display: block; 
	flex-wrap:wrap
	/*position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
}
.button:hover {
	background-color: #008cba;
	color: white;
}
.intro {
	font-size: 14px;
	text-align: center;
	word-wrap: break-word;
	font-family: 'Roboto', sans-serif;

}

@media screen and (max-width: 600px) {
	html {
		font-size: 10px;
	}
	.navbar-brand {
		font-size: 2rem;
	}
}



.nav-distance {
	padding: 2.1% 7.7%;
}
.navbar-light .navbar-brand {
	text-align: left;
	line-height: 1.68;
	font-family: 'ONE-Mobile-POP' ;
	color: #35465d;
}



input[id="menuicon"]{
	display:none;
}

input[id="menuicon"]+ label{
	display:none;
	width:45px;
	height:31px;
	position:relative;
	cursor:pointer;
}

input[id="menuicon"]+ label span{
	display:none;
	position:absolute;
	width:100%;
	height:5px;
	border-radius:30px;
	background-color:#f5d042;
	transition:all .35s;
}

input[id="menuicon"] + label span:nth-child(1) {
	top:0;
}

input[id="menuicon"] + label span:nth-child(2) {
	top:50%;
	transform:translateY(-50%);
}

input[id="menuicon"] + label span:nth-child(3) {
	bottom:0;
}

input[id="menuicon"]:checked + label {z-index: 2;}
input[id="menuicon"]:checked + label span{background:#0a174e;}
input[id="menuicon"]:checked + label span:nth-child(1){
	top:50%;
	transform:translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked + label span:nth-child(2) {
	opacity:0;
}

input[id="menuicon"]:checked + label span:nth-child(3) {
	bottom:50%;
	transform:translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
	width:300px;
	height: 100%;
	background: #f5d042;
	position:fixed;
	top:0;
	right:-300px;
	z-index:1;
	transition: all .35s;
}

input[id="menuicon"]:checked + label + div{
	right:0;
}

@media screen and (max-width: 992px) {
	input[id="menuicon"]+ label{
		display:block;
	}
	input[id="menuicon"]+ label span{
		display:block;
	}
}
/* 
.img{
	overflow:hidden;
	transition:transform 0.5s;
}

.img:hover{
	transform: scale(1.2);
	z-index: 8;
} */
/* .bannerr *{margin:0;padding:0;}
.bannerr{
	position:relative;
	display: inline-block;
}
.bannerr img{
	max-width:100%;
}
.bannerr span.text{
	position:absolute;
	top:50%;
	left:0;
	transform: translateY:(-50%);
	display:none;
	width:100%;
	font-size:70px;
	color: #fff;
	font-weight: 900;
	text-align:center;
}
.bannerr::before, .bannerr::after{
	content:'';
	position:absolute;
	top:50%;
	left:50%;
	width:95%;
	height:95%;
	transform:translate:(-50%, -50%);
	transition:all .8s;
}

.bannerr::before{
	border-top:2px solid #fff;
	border-bottom: 2px solid #fff;
	width:0;
}
.bannerr::after{
	border-top:2px solid #fff;
	border-bottom: 2px solid #fff;
	height: 0;
}

.bannerr:hover span.text{display:block;}
.bannerr:hover::before{width:95%;}
.bannerr:hover::after{height:95%;} */

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
	-ms-overflow-style: none;
	/* IE and Edge */
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

@media all and (max-width: 1024px){
	img{
		width:170px;
		height:170px;
	}
	/* //브라우저 창 width가 1024px보다 작아지는 순간부터 적용
	//태블릿 */
}
@media all and (max-width: 768px){
	/* //브라우저 창 width가 768px보다 작아지는 순간부터 적용 */
	/* //모바일 */
	img{
		width:130px;
		height:130px;
	}
}
@media all and (min-width: 768px){
	/* //브라우저 창 width가 768px보다 커지는 순간부터 적용 */
	/* //태블릿 */
}
@media all and (min-width: 1024px){
	/* //브라우저 창 width가 1024px보다 커지는 순간부터 적용 */
	/* //데스크탑 */
}

.scrollmenu {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
