@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'ONE-Mobile-POP';
}

body{
	background-color: #0a174e;
}

.kakaoimg {
	margin: 10px;
	width: 213px;
	height: 284px;
	cursor: pointer;
}
.kakao_img {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap
	
}

.nav-distance {
	padding: 2.1% 7.7%;
}

.navbar-light .navbar-brand {
	text-align: left;
	line-height: 1.68;
	font-family: NanumSquareR;
	color: #35465d;
}
